{% extends 'base.html' %}

{% block content %}
  <div class="p-strip--suru u-no-padding--top u-no-padding--bottom is-dark">
    <div class="row u-vertically-center" style="height: 100vh;">
      <div class="col-7 p-heading-highlight">
        <h1 class="p-heading-highlight__item">Deliver, maintain,<br />secure and sustain</h1>
        <h2>open source, everywhere</h2>
      </div>
      <div class="col-4">
        <img src="https://assets.ubuntu.com/v1/4ba0e3a6-Joint+Lime-illustration-white.svg" alt="Lime Microsystems logo" width="100%">
      </div>
    </div>

    <div class="row u-vertically-center" style="height: 100vh;">
      <div class="col-8 col-start-large-3 p-heading-highlight">
        <h2 class="p-heading-highlight__item p-heading--one">Drive down infrastructure cost,<br />accelerate your applications</h2>
      </div>
    </div>
  </div>
{% endblock %}
